* {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding-top: 81px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(250, 250, 250);
}

/* Header */

.header {
  background-color: white;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  border-bottom: 1px solid rgb(220, 220, 220);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; 
}

.left-section {
  display: flex;
}

.hamburger-menu {
  width: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  width: 90px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  margin-left: 60px;
  margin-right: 30px;
  max-width: 470px;
  display: flex;
}

.search-box {
  flex: 1;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid rgb(180, 180, 180);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05); 
  width: 0;
}

.search-box::placeholder {
  font-size: 16px;
  font-family: Roboto;
  color: rgb(172, 171, 171);
}

.search-icon {
  width: 24px;
}

.search-button {
  padding: 0 19px;
  margin-right: 8px;
  border: 1px solid rgb(202, 202, 202);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: -1px;
  background-color: rgb(248, 248, 248);
  transition: background-color 0.15 s ease;
}

.search-button:hover {
  background-color: rgb(240, 240, 240);
}

.search-button:active {
  background-color: rgb(232, 232, 232);
}

.search-button, .voice-button, .upload-icon-div, .youtube-apps-icon-div, .notification-icon-div {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: opacity 0.15s ease;
}

.search-button:hover .tool-tip, .voice-button:hover .tool-tip, .upload-icon-div:hover .tool-tip, .youtube-apps-icon-div:hover .tool-tip, .notification-icon-div:hover .tool-tip {
  opacity: 1;
}

.tool-tip { 
  position: absolute;
  color: white;
  background-color: rgba(98, 98, 98, 0.9);
  padding: 7px 7px;
  font-size: 12px;
  border-radius: 2px;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.voice-icon {
  width: 24px;
}

.voice-button {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: rgb(249, 249, 249);
}

.right-section {
  width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
  flex-shrink: 0;
}

.upload-icon, .youtube-apps-icon, .notifications-icon {
  width: 24px;
}

.notification-icon-div {
  position: relative;
  height: 24px;
}

.notification-number {
  color: white;
  background-color: rgb(203, 0, 0);
  position: absolute;
  font-size: 10px;
  padding: 1.5px 5px;
  border-radius: 50%;
  top: -1px;
  right: -5px;
}

.user-channel-pic {
  width: 32px;
  height: 32px;
  border-radius: 20px;
}

/* Sidebar */

.sidebar {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  width: 72px;
  padding-top: 4px;
  z-index: 200;
}

.sidebar-icons {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.sidebar-icons:hover {
  background-color: rgb(230, 230, 230);
}

.sidebar-icon-images {
  height: 24px;
  margin-bottom: 6.5px;
}

.sidebar-icon-names {
  font-size: 10px;
}

@media (min-width: 1180px) {
  body {
    padding-left: 264px;
  }
  
  .sidebar {
    width: 240px;
  }

  .sidebar-icons {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: start;
    align-items: center;
  }

  .sidebar-icon-images {
    margin-bottom: 0;
    margin-left: 20px;
  }

  .sidebar-icon-names {
    font-size: 13px;
    margin-left: 20px;
  }
}

/* Main Content */

.video-preview-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;    
  row-gap: 42px;
  margin-bottom: 50px; 
}

@media (max-width: 962px) {
  .video-preview-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 791px) {
  .sidebar {
    opacity: 0;
  }

  body {
    padding-left: 24px;
  }
}

@media (max-width: 571px) {
  .video-preview-grid {
    grid-template-columns: 1fr;
  }
}

.video-thumbnail {
  width: 100%;
}

.thumbnail-div {
  position: relative;
}

.video-time {
  position: absolute;
  color: white;
  background-color: black;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px;
  border-radius: 2px;
  bottom: 11px;
  right: 4px;
}

.video-content-row {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 48px 1fr;
}

.creator-profile-pic {
  width: 36px;
  border-radius: 30px;
}

.video-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.video-info a {
  color: black;
  text-decoration: none;
 }

.video-creator, .video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.video-creator {
  margin-bottom: 4px; 
}