p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 27px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 5px;
}

.video-creator {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 20px;
}

.video-description {
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 20px;
  margin-top: 20px;
}

.apple-ad {
  background-color: rgb(227, 65, 64);
  color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.shop-now-link:hover {
  cursor: pointer;
  text-decoration: underline;
}