body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.game-heading {
  font-weight: bold;
  font-size: 30px;
}

.move-img {
  width: 50px;
}

.move-btn {
  height: 120px;
  width: 120px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-weight: bold;
  font-size: 25px;
  margin-top: 50px;
}

.reset-score-btn {
  font-size: 15px;
  padding: 8px 15px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.choices {
  margin-bottom: 60px;
}